<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/bootstrap.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap"
      rel="stylesheet"
    />
    {% block title %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('index')}}">Dictionary</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {% block home_active%} {% endblock %}>
              <a href="{{url_for('index')}}">Home</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li {%block dashboard_active%} {%endblock%}>
              <a href="{{url_for('dashboard')}}">Dashboard</a>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container-fluid">{% block content %}{% endblock %}</div>

    <footer class="footer">
      <div class="container text-center">
        <p id="dateYear"></p>
      </div>
    </footer>

    <script
      defer
      src="{{url_for('static',filename='js/bootstrap.js')}}"
    ></script>
    <script
      defer
      src="{{url_for('static',filename='js/datetime.js')}}"
    ></script>
  </body>
</html>
